<!DOCTYPE html>
<html>
<head>
  <title>Thanks for contacting us!</title>
</head>
<body>
  <h1>Thanks, <%= name %>!</h1>
  <p>We received your message:</p>
  <ul>
    <li><strong>Email:</strong> <%= email %></li>
    <li><strong>Message:</strong> <%= message %></li>
  </ul>
  <a href="/contact">Back to form</a>
</body>
</html>
